/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
p {font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;}

a {color: #6C6368}

 .column {
     float: left;
     width: 50%;
 }

 #noborder {
  border: 0px;
}
 #pmcBad {
   border-radius: 8px;
   background-color: #c45656;
   margin-right: 1.875em;
   padding-left: 5px;
 }

 #pmcLessBad {
   border-radius: 8px;
   background-color: #ffaa00;
   margin-right: 1.875em;
   padding-left: 5px;
 }

 #pmcAcceptable {
   border-radius: 8px;
   background-color: #b1e516;
   margin-right: 1.875em;
   padding-left: 5px;
 }

 #pmcGreat {
   border-radius: 8px;
   background-color: #0cff00;
   margin-right: 1.875em;
   padding-left: 5px;
 }

 #tile {
   background-color:
   #f2f7fc;
   border-radius: 8px;
   margin: auto;
   margin-top: 10px;
   border-radius: 8px;
   padding: 0px;
   padding-left: 19px;
 }

#producttile {
   border-radius: 8px;
    background-color: #f2f7fc;
}

#theannoyingdiv {
   padding-left: 19px;
}

 .row:after {
     content: "";
     display: table;
     clear: both;
 }

 #productheader {
   background-color: #f2f7fc;
   margin: auto;
   margin-top: 10px;
   border-radius: 8px;
   padding: 15px;
 }

 .button {
    background-color: #4496E6;
    border: none;
    border-radius: 8px;
    color: white;
    text-align: center;
    font-size: 18px;
}

#editbutton {
  margin-top: 4px;
  float: left;
}
/* #select {
  maxWidth: '60rem'
} */

#close {
  float: right;
}

#devisenav {
  float: right;
  padding: 10px 15px;
  border: none;
}

.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
